-pencv-python==4.2.0.32
absl-py==0.10.0
addict==2.3.0
albumentations==0.4.5
altgraph==0.17
anyconfig==0.9.11
appdirs==1.4.4
arcade==2.3.15
argon2-cffi==20.1.0
argparse==1.4.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==20.2.0
automat==20.2.0
backcall==0.1.0
baiduspider==1.0.2.1
beautifulreport==0.1.3
beautifulsoup4==4.8.0
bert-base==0.0.7
bert-for-tf2==0.14.6
bleach==3.3.0
boto3==1.14.27
boto==2.49.0
botocore==1.17.27
bs4==0.0.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
colorama==0.4.3
constantly==15.1.0
coverage==5.3
cryptography==3.1
cssselect==1.1.0
cv==1.0.0
cycler==0.10.0
cython==0.29.14
dataclasses==0.6
decorator==4.4.1
defusedxml==0.7.1
dlib==19.21.0
dm-tree==0.1.5
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.15.2
dominate==2.4.0
easygui==0.98.1
entrypoints==0.3
face-recognition-models==0.3.0
face-recognition==1.3.0
filelock==3.0.12
flask-bootstrap==3.3.7.1
flask-sqlalchemy==2.4.1
flask-wtf==0.14.2
flask==1.1.1
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gensim==3.8.3
gitdb==4.0.9
gitpython==3.1.27
google-auth-oauthlib==0.4.1
google-auth==1.21.1
google-pasta==0.2.0
gputil==1.4.0
graphsurgeon==0.4.5
graphviz==0.14
gridworld==0.1
grpcio==1.31.0
gym==0.17.2
h5py==2.10.0
hanlp==2.0.0a64
hyperlink==20.0.1
idna==2.10
imageio==2.9.0
imgaug==0.2.6
importlib-metadata==1.7.0
incremental==17.5.0
iniconfig==1.0.1
ipykernel==5.5.3
ipython-genutils==0.2.0
ipython==7.12.0
ipywidgets==7.6.3
itemadapter==0.1.0
itemloaders==1.0.3
itsdangerous==1.1.0
jedi==0.16.0
jieba==0.41
jinja2==2.11.1
jmespath==0.10.0
joblib==0.16.0
jsonschema==3.2.0
jupyter-client==6.2.0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras-applications==1.0.8
keras-preprocessing==1.1.2
keras-resnet==0.2.0
keras-retinanet==0.5.1
keras==2.2.4
kiwisolver==1.2.0
lac==2.0.5
linecache2==1.0.0
lxml==4.4.2
mako==1.1.4
markdown==3.2.2
markupsafe==1.1.1
matplotlib==3.2.1
memory-profiler==0.57.0
mistune==0.8.4
mock==4.0.2
more-itertools==8.5.0
mpmath==1.1.0
msgpack-numpy==0.4.6.1
msgpack==1.0.0
mysql==0.0.2
mysqlclient==1.4.6
natsort==7.0.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
ncnn==1.0.20210225
nest-asyncio==1.5.1
networkx==2.5
nltk==3.5
nms==0.1.6
notebook==6.3.0
numexpr==2.7.1
numpy==1.17.4
oauthlib==3.1.0
objgraph==3.4.1
onnx-graphsurgeon==0.2.6
onnx-simplifier==0.3.2
onnx==1.8.1
onnxoptimizer==0.2.3
onnxruntime==1.6.0
opencv-python-headless==4.1.2.30
opencv-python==4.5.5.62
openvino==2021.2
opt-einsum==3.3.0
packaging==20.4
paddlepaddle==1.8.5
pandas==0.25.3
pandocfilters==1.4.3
params-flow==0.8.2
parsel==1.6.0
parso==0.6.1
pathlib==1.0.1
pathtools==0.1.2
pefile==2019.4.18
pickleshare==0.7.5
pillow==8.0.1
pip==21.3.1
pipreqs==0.4.10
pluggy==0.13.1
polygon3==3.0.8
portalocker==2.2.1
pprint==0.1
prettytable==1.0.1
progress==1.5
progressbar2==3.51.3
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.3
protego==0.1.16
protobuf==3.13.0
psutil==5.7.2
py-params==0.9.7
py==1.9.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyclipper==1.2.0
pycocotools-windows==2.0.0.2
pycparser==2.20
pycuda==2020.1+cuda102
pydispatcher==2.0.5
pydotplus==2.0.2
pygame==1.9.6
pyglet==1.5.0
pygments==2.5.2
pyhamcrest==2.0.2
pyinstaller==3.5
pynvml==8.0.4
pyopenssl==19.1.0
pyparsing==2.4.7
pyqt5-tools==5.10.1.1.3
pyqt5==5.10
pyrsistent==0.17.3
pytest==5.4.3
python-crfsuite==0.9.6
python-dateutil==2.8.1
python-dotenv==0.14.0
python-utils==2.4.0
pytiled-parser==0.9.3
pytools==2021.1
pytorch-ssim==0.1
pytz==2020.1
pywavelets==1.1.1
pywin32-ctypes==0.2.0
pywin32==300
pywinpty==0.5.7
pyyaml==5.3.1
pyzmq==19.0.2
qtconsole==5.0.3
qtpy==1.9.0
qudida==0.0.4
queuelib==1.5.0
rarfile==3.1
regex==2020.7.14
requests-oauthlib==1.3.0
requests==2.24.0
rsa==4.6
s3transfer==0.3.3
sacremoses==0.0.43
scikit-image==0.17.2
scikit-learn==0.23.1
scikit-surprise==1.1.1
scipy==1.4.1
scrapy==2.3.0
seaborn==0.11.0
selenium==3.141.0
send2trash==1.5.0
sentencepiece==0.1.91
sentry-sdk==1.5.6
service-identity==18.1.0
setproctitle==1.2.2
setuptools==50.3.0
shapely==1.7.1
shortuuid==1.0.8
simpleguitk==1.1.3
sip==4.19.8
six==1.15.0
sklearn==0.0
smart-open==2.1.1
smmap==5.0.0
soupsieve==1.9.2
sqlalchemy==1.3.13
surprise==0.1
sympy==1.4
synonyms==3.10.2
tables==3.6.1
tabulate==0.8.7
tbb==2020.3.254
tensorboard-plugin-wit==1.7.0
tensorboard==2.3.0
tensorboardx==2.1
tensorflow-addons==0.7.0
tensorflow-estimator==2.3.0
tensorflow-probability==0.11.1
tensorflow==2.3.1
tensorpack==0.9.8
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
tfp-nightly==0.12.0.dev20201010
threadpoolctl==2.1.0
tifffile==2020.12.4
tokenizers==0.8.1rc1
toml==0.10.1
torch-multi-head-attention==0.15.1
torch==1.6.0
torchvision==0.5.0
tornado==6.1
tqdm==4.48.0
traceback2==1.4.0
traitlets==4.3.3
transformers==3.0.2
twisted==20.3.0
typeguard==2.9.1
typing-extensions==3.7.4.3
uff==0.6.9
unittest2==1.1.0
urllib3==1.25.10
utils==1.0.1
values==0.0.0
visitor==0.1.3
w3lib==1.22.0
wandb==0.12.11
wcwidth==0.1.8
webencodings==0.5.1
werkzeug==1.0.1
wheel==0.35.1
widgetsnbextension==3.5.1
wrapt==1.12.1
wtforms==2.2.1
xlrd==1.2.0
xlsxwriter==1.2.6
yarg==0.1.9
yaspin==2.1.0
zipp==3.1.0
zope.interface==5.1.0